@import url(/css/fonts/cwTeXFangSong.css);
html {
    scroll-behavior: smooth;
  }
.h1_overwrite{
  font-size: 72px;
  font-family: "cwTeXFangSong", serif;
}
.circle_button {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 25px;
    line-height: 25px;
    color: #FFFFFF;
    font-family: Brush Script MT;
    width: 25px;
    font-size: 25px;
    font-weight: 100;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: solid #FFFFFF 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .circle_button:hover {
    background: rgba(214, 224, 237, 0.25);
    border: solid #337FED 2px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-decoration: none;
 }
 .circle_button_social {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  height: 12px;
  line-height: 12px;
  color: #FFFFFF;
  font-family: Brush Script MT;
  width: 12px;
  font-size: 12px;
  font-weight: 100;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: solid #FFFFFF 2px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.navbar_item {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  background-image: linear-gradient(#000000, #000000);
  background-position: left bottom;
  background-size: 0 2.5px;
  background-repeat: no-repeat;
  transition: background-size 0.1s linear;
}

 .navbar_item:hover {
  background-size: 100% 2.5px;
 }