html {
    scroll-behavior: smooth;
  }
a{
    font-size: large;
}
.circle_button {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 25px;
    line-height: 25px;
    color: #FFFFFF;
    font-family: Brush Script MT;
    width: 25px;
    font-size: 25px;
    font-weight: 100;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: solid #FFFFFF 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .circle_button:hover {
    background: rgba(214, 224, 237, 0.25);
    border: solid #337FED 2px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-decoration: none;
 }